@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply text-gray-700 bg-gray-50 tracking-tight 
}

a {
    @apply ease-linear duration-75
}

a:hover, a:focus{
    @apply text-indigo-500
}

/* .post-content p, 
.post-content h6, 
.post-content h5, 
.post-content h4, 
.post-content h3, 
.post-content h2, 
.post-content h1,
.post-content hr
{
    margin-bottom: 1.25rem;        
}

.post-content blockquote {
    @apply 
} */

/* .rainbow-letters span:nth-child(10n + 1) {
color: #ef5350;
}

.rainbow-letters span:nth-child(10n + 2) {
color: #ab47bc;
}

.rainbow-letters span:nth-child(10n + 3){
color: #651fff;
}

.rainbow-letters span:nth-child(10n + 5){
color: #3949ab;
}

.rainbow-letters span:nth-child(10n + 4) {
color: #2196f3;
}

.rainbow-letters span:nth-child(10n + 6){
color: #00bcd4;
}

.rainbow-letters span:nth-child(10n + 7){
color: #4caf50;
}

.rainbow-letters span:nth-child(10n + 8){
color: #ffc107;
} */